useDynLib(GAMBoost,pre_sum_index,calc_dev_binary_index,get_min_score_dev_binary_index,get_min_score_dev_gaussian_index,
          get_min_score_dev_general_index)

import(splines)
export(GAMBoost,GLMBoost,getGAMBoostSelected,cv.GAMBoost,cv.GLMBoost,optimGAMBoostPenalty,optimGLMBoostPenalty,
       optimStepSizeFactor,estimPVal)

S3method(print,GAMBoost)
S3method(summary,GAMBoost)
S3method(plot,GAMBoost)
S3method(predict,GAMBoost)
S3method(predict,GLMBoost)

